.mainContent {
    width: 600px;
    height: 700px;
    background-color: #1A1D1B	;
    overflow-x: hidden;
    margin: 50px;
    z-index: 1;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* Style for WebKit browsers (Chrome, Safari) */
.mainContent::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Track */
  .mainContent::-webkit-scrollbar-track {
    background: #1E7C59; /* Background color of the track */
    border-radius: 10px;
  }
  
  /* Handle */
  .mainContent::-webkit-scrollbar-thumb {
    background-color: #1A1D1B; /* Color of the scrollbar handle */
    border-radius: 10px; /* Roundness of the scrollbar handle */
    border: 3px solid #f1f1f1; /* Padding around the handle */
  }
  
  /* Handle on hover */
  .mainContent::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }