.mainContent {
    width: 600px;
    height: 700px;
    background-color: #1A1D1B	;
    overflow: hidden;
    margin: 50px;
    z-index: 1;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}