body {
  margin: 0;
  font-family: "Teko", -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use this if you want to define specific styles with Teko */
.teko-text {
  font-family: "Teko", sans-serif;
  font-weight: 400; /* Choose appropriate weight */
}
